###############################################################################
# Pre-Migration Check
# 
# Este archivo verifica el estado de la base de datos antes de ejecutar
# las migraciones para prevenir errores.
###############################################################################

container_commands:
  00_check_db_connection:
    command: "echo 'Skipping DB connection check - will be validated by migrations'"
    leader_only: true
